@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Serif', serif;
  background-color: rgba(241, 248, 249, 0.612);
}

.displayBodyWithIcon {
  display: none;
}

button, i, img {
  cursor: pointer;
}

[type="text"] {
  font-size: 14px;
  font-weight: bold;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 15vh;
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  z-index: 55;
}

.navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.navbar_list .barend h1 {
  font-size: 2.50rem;
  font-weight: 700;
  margin-left: 50px;
}

.navbar_list .nav_call_know {
  width: 150px;
  padding: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#A54E85), to(#692B69));
  background: linear-gradient(to left, #A54E85, #692B69);
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.navbar_list .nav_call_know a {
  text-decoration: none;
  color: white;
}

.navbar_list .nav_call_know h2 {
  font-size: 1.50rem;
}

.navbar_list .nav_call_know:hover {
  background: -webkit-gradient(linear, left top, right top, from(#A54E85), to(#692B69));
  background: linear-gradient(to right, #A54E85, #692B69);
}

.navbar_list .number_call a {
  text-decoration: none;
  color: #a54e85;
  font-size: 1.50rem;
  font-weight: 500;
}

.navbar_list .bars {
  width: 50px;
  height: 50px;
}

.navbar_list .bars i {
  margin-top: 5px;
  font-size: 2.50rem;
  color: #a34d84;
}

.toggle_button.slider {
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle_button {
  position: fixed;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #97467E;
  color: white;
  z-index: 5;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle_button ul {
  display: -ms-grid;
  display: grid;
}

.toggle_button ul li {
  width: 100%;
  padding: 15px 0;
  list-style: none;
  margin: 24.50px 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle_button ul li:hover {
  background-color: #97467e;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle_button ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle_button ul li a:hover {
  margin-left: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.toggle_button ul li i {
  font-size: 25px;
  margin: 0 10px;
}

.container_first {
  margin: 50px 0;
}

.shadowBody {
  width: 100%;
  margin: 0 10px;
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.form {
  padding: 20px 0;
}

.form h1 {
  font-size: 1.30rem;
  font-weight: normal;
}

.form .form_icon {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10px;
}

.form .form_text {
  width: 100px;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #692B69;
}

.form .form_text:hover {
  width: 100px;
  padding: 5px 0;
  background-color: #FEEFDC;
  border: 1px solid #FEEFDC;
  border-radius: 5px;
  cursor: pointer;
}

.form .form_text i {
  font-size: 1.30rem;
  color: #A54E85;
}

.form .form_text h1 {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.next_form {
  width: 90%;
  margin: 25px auto;
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

.inputBox input {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  border: none;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.459);
}

#next_form1 {
  display: none;
}

#next_form2 {
  display: none;
}

.button_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #A54E85;
  padding: 10px 0;
}

.button_border .button {
  width: 120px;
  padding: 7px 5px;
  background-color: transparent;
  border: 1px solid #692B69;
  margin: 0 10px;
  outline: none;
}

.button_border .button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1a011a), to(#843A75));
  background: linear-gradient(to right, #1a011a, #843A75);
  color: white;
}

.flight_icon {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.flight_icon .flight_text img {
  width: 35px;
  height: 35px;
}

.flight_icon .flight_text .img_user {
  width: 25px;
  height: 25px;
}

.flight_icon .flight_text .inputDate {
  margin: 20px 0;
}

.flight_icon .flight_text select {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.flight_icon .flight_text select option {
  width: 100%;
}

.flight_icon .flight_text span {
  font-size: 14px;
  color: gray;
}

.flight_icon .flight_text input {
  width: 140px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
  outline: none;
}

.flight_icon .flight_text input:hover {
  border-bottom: 1px solid #692B69;
}

.data {
  margin: 20px 0;
  width: 100%;
}

.data img {
  width: 35px;
  height: 35px;
}

.data span {
  font-size: 14px;
  color: gray;
}

.data input {
  width: 90%;
  margin: 20px auto 0 auto;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
}

.data input:hover {
  border-bottom: 1px solid #692B69;
}

.search {
  width: 80%;
  margin: 95px auto 10px auto;
  background: -webkit-gradient(linear, right top, left top, from(#A54E85), to(#692B69));
  background: linear-gradient(to left, #A54E85, #692B69);
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.search i {
  font-size: 1.50rem;
}

.text_child {
  width: 100%;
  padding: 10px 5px;
}

.text_child p {
  font-weight: bold;
}

.search_car {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.search_car:hover {
  background-color: green;
  font-weight: bold;
}

.form_part2 {
  width: 100%;
}

.spacel_details {
  margin-bottom: 50px;
  font-size: 1.50rem;
  position: relative;
  color: #692B69;
  font-weight: bold;
}

.spacel_details::before {
  position: absolute;
  top: 35.50px;
  left: 25px;
  content: "";
  width: 80px;
  height: 2px;
  border-bottom: 1px solid #692B69;
}

.form_part2_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_part2_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.form_part2_text:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: 5px solid #692B69;
}

.form_part2_text .boxText1::before {
  position: absolute;
  top: -35px;
  left: 35px;
  content: "Domestic";
  color: #692B69;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 1.30rem;
}

.form_part2_text .boxText2::before {
  position: absolute;
  top: -35px;
  left: 15px;
  content: "International";
  color: #692B69;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.30rem;
}

.form_part2_text .boxText3::before {
  position: absolute;
  top: -35px;
  left: 15px;
  content: "First Class";
  color: #692B69;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.30rem;
}

.form_part2_text .fa-plane {
  width: 40.50px;
  height: 40.50px;
  border-radius: 100%;
  background-color: #692B69;
  color: white;
  position: absolute;
  top: -28px;
  right: -10px;
  text-align: center;
  line-height: 45px;
}

.form_part2_text .button_with_angel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_part2_text .button_with_angel button {
  width: 80%;
  border: 1px dashed #c0b4c0;
  background-color: transparent;
  outline: none;
  color: black;
  padding: 7px 0;
}

.form_part2_text .button_with_angel button a {
  text-decoration: none;
  color: black;
}

.form_part2_text .button_with_angel button:hover {
  background-color: #a34d84;
  color: white;
}

.form_part2_text .button_with_angel .fa-angle-right {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #692B69;
  font-size: 1.50rem;
  text-align: center;
  color: white;
}

.form_part2_text p {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}

.form_part2_text h4 {
  color: #692B69;
  font-size: 2rem;
  font-weight: bold;
}

.box1 {
  width: 250px;
  height: 200px;
  border: 1.50px solid #692B69;
  margin: 25px 5px;
  border-radius: 5px;
  position: relative;
  background-color: white;
}

.form_part3 {
  margin-top: 50px;
  width: 100%;
  background-color: #FEEFDC;
  padding: 10px;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
}

.form_part3_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form_part3_child .form_part3_text {
  text-align: center;
}

.form_part3_child .form_part3_text .img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #FDDFB8;
  line-height: 50px;
  text-align: center;
}

.form_part3_child .form_part3_text .img img {
  width: 35px;
  height: 35px;
}

.form_part3_child .form_part3_text h4 {
  font-size: 1.30rem;
  color: #692B69;
  font-weight: bold;
}

.form_part3_child .form_part3_text button {
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#2e1c27), to(#692B69));
  background: linear-gradient(to right, #2e1c27, #692B69);
  border: 1px solid #692B69;
  padding: 7px;
  border-radius: 5px;
  color: white;
}

.form_part3_child .form_part3_text button a {
  text-decoration: none;
  color: white;
}

.heading_text {
  margin: 50px 0;
  position: relative;
}

.heading_text h1 {
  font-size: 1.50rem;
  font-weight: bold;
  color: #97467E;
}

.heading_text h1::before {
  position: absolute;
  top: 45px;
  left: 15px;
  content: "";
  width: 115px;
  height: 2px;
  background-color: #97467E;
}

.form_part4 {
  margin-top: 50px;
  width: 100%;
}

.form_part4_child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.form_part4_text {
  margin-top: 50px;
  width: 150px;
  background-color: white;
  margin: 5px;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

.form_part4_text::before {
  height: 100px;
  position: absolute;
  top: 15px;
  left: 5px;
  content: "";
  border-left: 2px solid gray;
}

.form_part4_text:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.5);
}

.form_part4_text h2 {
  font-size: 16px;
  font-weight: bold;
}

.form_part4_text p {
  font-size: 12px;
  color: gray;
}

.form_part4_text h3 {
  font-size: 1.50rem;
  color: #eb2805;
  font-weight: bold;
}

.container_secound {
  width: 100%;
}

.heading {
  font-size: 1.50rem;
  font-weight: bold;
  margin: 65px 0;
  position: relative;
  color: #742874;
}

.heading::before {
  position: absolute;
  top: 45px;
  left: 3%;
  content: "";
  width: 150px;
  height: 2px;
  background-color: #692B69;
}

.container_card_child {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.container_card_child:hover {
  -webkit-box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.container_card_child::before {
  position: absolute;
  top: 15px;
  left: 10px;
  content: "";
  width: 2px;
  height: 100px;
  border-right: 2px solid gray;
}

.container_card_child h2 {
  font-size: 16px;
  font-weight: bold;
}

.container_card_child p {
  font-size: 12px;
  color: gray;
}

.container_card_child h3 {
  font-size: 1.50rem;
  color: #eb2805;
  font-weight: bold;
}

.container_three {
  width: 100%;
}

.rowContainer {
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  margin: 50px 10px;
  text-align: center;
  padding: 110px 0;
  border-radius: 5px;
  position: relative;
}

.rowContainer::before {
  position: absolute;
  top: 22.50px;
  left: 22.50px;
  content: "Why Us?";
  font-size: 1.50rem;
  font-weight: bold;
  color: #742874;
}

.rowContainer img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

.rowContainer h2 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.container_four {
  width: 100%;
}

.fullColumnText {
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  margin: 50px 10px;
  text-align: left;
  padding: 50px 0;
  border-radius: 5px;
  position: relative;
}

.fullColumnText h1 {
  font-size: 1.50rem;
  font-weight: bold;
  color: #742874;
}

.fullColumnText p {
  margin-top: 25px;
  font-size: 14px;
}

.fullColumnText p span {
  color: #742874;
  cursor: pointer;
  font-size: 1rem;
}

.container_five {
  width: 100%;
}

.orderList {
  width: 98%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 30px;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  position: relative;
}

.orderList::before {
  position: absolute;
  content: "Find Cheap Tickets by Destination";
  font-size: 1.50rem;
  font-weight: bold;
  color: #742874;
  margin: 10px 0;
}

.orderList::after {
  position: absolute;
  right: 30px;
  content: "Find Cheap Tickets by Airlined";
  font-size: 1.50rem;
  font-weight: bold;
  color: #742874;
  margin: 10px 0;
}

.orderList ul {
  margin-top: 95px;
}

.orderList ul li a {
  color: black;
}

.orderList ul li a:hover {
  color: #ff0066;
}

.container_sex {
  margin-top: 50px;
  width: 100%;
}

.social_iconCotainerList {
  width: 98%;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 8px 8px -6px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 25px 0;
}

.social_iconCotainerList h1 {
  font-size: 1.50rem;
  font-weight: bold;
  color: #742874;
  margin: 10px 0;
}

.social_iconCotainerList img {
  width: 30%;
}

.social_iconCotainerList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_iconCotainerList ul li {
  list-style: none;
  margin: 25px 10px;
}

.social_iconCotainerList ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.social_iconCotainerList h2 {
  font-size: 1rem;
  margin: 10px 0;
  color: #742874;
  font-weight: bold;
}

.social_iconCotainerList a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.social_iconCotainerList .social_icon {
  width: 100%;
}

.social_iconCotainerList .social_icon .fa-facebook {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #3b5998;
  font-size: 1rem;
  color: white;
  line-height: 35px;
}

.social_iconCotainerList .social_icon .fa-twitter {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #55acee;
  font-size: 1rem;
  color: white;
  line-height: 35px;
}

.social_iconCotainerList .social_icon .fa-instagram {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  font-size: 1rem;
  color: white;
  line-height: 35px;
}

.rotate {
  width: 100%;
  position: relative;
}

.rotate h1 {
  position: fixed;
  top: 50%;
  left: -5%;
  z-index: 2;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  background-color: #843A75;
  font-size: 1.30rem;
  color: white;
  padding: 10px;
  text-align: center;
}

.fixedIcon {
  position: fixed;
  top: 40%;
  right: -0.5%;
  float: right;
  z-index: 2;
  display: -ms-grid;
  display: grid;
}

.fixedIcon i {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #843A75;
  color: white;
  font-size: 1rem;
  line-height: 50px;
  text-align: center;
  margin: 10px;
}

.iconList {
  position: relative;
  display: none;
}

.iconList i {
  position: fixed;
  right: 0;
  bottom: 85px;
  width: 35px;
  height: 35px;
  background-color: #843A75;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
  color: white;
  z-index: 2;
}

.call_now_link {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #843A75;
  background-color: white;
  z-index: 2;
  display: none;
}

.call_now_link p {
  font-size: 14px;
  padding: 0 10px;
}

.call_now_link .call_icon {
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 50px;
}

.call_now_link .call_icon a {
  color: #843A75;
  text-decoration: none;
}

.call_now_link .call_icon button {
  padding: 10px 30px;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#2e1c27), to(#692B69));
  background: linear-gradient(to right, #2e1c27, #692B69);
  color: white;
  border-radius: 5px;
}

.call_now_link .call_icon button a {
  text-decoration: none;
  color: white;
}

.pop {
  width: 100%;
  position: relative;
}

.pop_text {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  z-index: 9999;
}

.pop_text .iconTimes {
  float: right;
  clear: both;
  position: relative;
  cursor: pointer;
  z-index: 9999999;
}

.pop_text .iconTimes i {
  width: 25px;
  height: 25px;
  background-color: white;
  position: relative;
  top: 45px;
  right: 35px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.pop_text img {
  width: 100%;
  height: 450px;
}

.customer_care_text {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99999;
}

.customer_care_text img {
  width: 85px;
  height: 85px;
  border: 2px solid white;
  border-radius: 100%;
}

.customer_care_text h1 {
  margin: 350px 0 25px 0;
  font-weight: bold;
  font-size: 1.50rem;
  color: white;
}

.customer_care_text a {
  font-size: 1.30rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.customer_care_text a i {
  font-size: 1.20rem;
  font-weight: bold;
  color: white;
}

.customer_care_text h2 {
  margin: 25px 0;
  font-size: 1.30rem;
  font-weight: bold;
}

.customer_care_text p {
  font-size: 1rem;
  font-weight: bold;
  color: #ff0066;
}

.customer_care_text .popText {
  color: white;
}

svg {
  width: 100%;
  height: 100vh;
  -webkit-animation: rotateTopLeft 2s ease infinite;
          animation: rotateTopLeft 2s ease infinite;
  display: block;
}

@-webkit-keyframes rotateTopLeft {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes rotateTopLeft {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.one {
  -webkit-animation: rotatefill 0.5s ease infinite;
          animation: rotatefill 0.5s ease infinite;
}

#six {
  -webkit-animation: rotatefill1 0.5s ease infinite;
          animation: rotatefill1 0.5s ease infinite;
}

.three {
  -webkit-animation: rotatefill2 0.5s ease infinite;
          animation: rotatefill2 0.5s ease infinite;
}

@-webkit-keyframes rotatefill {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

@keyframes rotatefill {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

@-webkit-keyframes rotatefill1 {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

@keyframes rotatefill1 {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

@-webkit-keyframes rotatefill2 {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

@keyframes rotatefill2 {
  0% {
    fill: red;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: red;
  }
}

.welCome {
  width: 100%;
  display: block;
}

.welCome h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #97467E;
}
/*# sourceMappingURL=index.css.map */