@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');

$red : red;
$green : green;
$orange : orange;
$yellow : yellow;
$blue : blue;
$purple : purple;
$lime : lime;
$skyblue : skyblue;
$black : rgb(0, 0, 0);
$white : rgb(255, 255, 255);
$pink : #ff0066;
$boxShadow : 5px 8px 8px -6px rgba(0,0,0,0.5);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Serif', serif;
    background-color: rgba(241, 248, 249, 0.612);
}

button, i, img{
    cursor: pointer;
}

[type="text"]{
    font-size: 14px;
    font-weight: bold;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 15vh;
    background-color: rgb(255,255,255);
    box-shadow: 5px 8px 8px -6px rgba(0,0,0,0.5);
    z-index: 55;
}

.navbar_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    .barend h1{
        font-size: 2.50rem;
        font-weight: 700;
        margin-left: 50px;
    }
    // end 




    
    .nav_call_know{
        width: 150px;
        padding: 10px;
        background: linear-gradient(to left,#A54E85,#692B69);
        text-align: center;
        color: rgb(255,255,255);
        border-radius: 5px;
        cursor: pointer;
        display: none;

        a{
            text-decoration: none;
            color: rgb(255,255,255);
        }

        h2{
            font-size: 1.50rem;
        }

        &:hover{
            background: linear-gradient(to right,#A54E85,#692B69);
        }
    }
    // end 

    .number_call{
        a{
            text-decoration: none;
            color: rgb(165, 78, 133);
            font-size: 1.50rem;
            font-weight: 500;
        }
    }
    // end 
    .bars{
        width: 50px;
        height: 50px;

        i{
            margin-top: 5px;
            font-size: 2.50rem;
            color: rgb(163, 77, 132);
        }
    }
}

// navbar button content show list and toggle 
.toggle_button.slider{
        left: 0;
        transition: 0.5s ease;
    }
    
.toggle_button{
    position: fixed;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #97467E;
    color: rgb(255,255,255);
    z-index: 5;
    text-align: center;
    transition: 0.5s ease;

    ul{
        display: grid;

        li{
            width: 100%;
            padding: 15px 0;
            list-style: none;
            margin: 24.50px 0;
            transition: 0.5s ease;

            &:hover{
                background-color: rgb(151, 70, 126);
               box-shadow:  5px 8px 8px -6px rgba(0,0,0,0.5);
               transition: 0.5s ease;
            }

            a{
            text-decoration: none;
            color: rgb(255,255,255);
            font-weight: bold;
            transition: 0.5s ease;

            &:hover{
                margin-left: 15px;
                transition: 0.5s ease;
            }
            }

            i{
                font-size: 25px;
                margin: 0 10px;
            }
        }
    }
}

// background image fixed 

.image_fixed{
    width: 100%;
    height: 200px;
    background: url("../image/image.jpg.jpg"), rgba(0,0,0,0.5);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

.text_fixed{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255,255,255);
    font-size: 2rem;

    p{
        font-size: 14px;
    }
}

//  ********************************** section four ****************************
.form_control{
    width: 100%;
}

.formBackground{
    width: 100%;
    background-color: rgb(255,255,255);
    margin: 50px 0;
    padding: 25px 25px;
    box-shadow: $boxShadow;
}

form{
    width: 100%;

    button{
        padding: 10px;
        background-color: #843A75;
        color: rgb(255,255,255);
        text-align: center;
        border: none;
        outline: none;
    }
}

.form_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_icon_text{
    width: 100%;

    i{
        font-size: 1.50rem;
        font-weight: bold;

        span{
            font-size: 1rem;
            margin: 0 10px;
        }
    }

    input{
        margin: 25px 0;
        width: 80%;
        border: none;
        // outline: none;
        border-bottom: 1px solid rgb(0,0,0);
    }
}

// nex columan 
.iconBakcogrund{
    width: 100%;
    background-color: rgb(255,255,255);
    text-align: center;
    padding: 50px 5px;
    margin: 10px;
    box-shadow: 0px 11px 12px 1px rgba(0, 0, 0,0.5);
    border-radius: 5px;
    cursor: pointer;

    i{
        font-size: 2rem;
        font-weight: bold;
    }

    h2{
        a{
            text-decoration: none;
            color: rgb(0,0,0);
            font-size: 1rem;
        }
    }
}
// ************************* section four *******************************
.container_four{
    width: 100%;
}

.fullColumnText{
    background-color: rgb(255,255,255);
    box-shadow: $boxShadow;
    margin: 50px 10px;
    text-align: left;
    padding: 50px 0;
    border-radius: 5px;
    position: relative;

    h1{
        font-size: 1.50rem;
        font-weight: bold;
        color: #742874;
    }

    p{
        margin-top: 25px;
        font-size: 14px;

        span{
            color: #742874;
            cursor: pointer;
            font-size: 1rem;
        }
    }

}

// ************************* section five *******************************
.container_five{
    width: 100%;
}

.orderList{
    width: 98%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    padding: 20px 30px;
    box-shadow: $boxShadow;
    position: relative;

    &::before{
        position: absolute;
        content: "Find Cheap Tickets by Destination";
        font-size: 1.50rem;
        font-weight: bold;
        color: #742874;
        margin: 10px 0;
    }

    &::after{
        position: absolute;
        right: 30px;
        content: "Find Cheap Tickets by Airlined";
        font-size: 1.50rem;
        font-weight: bold;
        color: #742874;
        margin: 10px 0;
    }

    ul{
        margin-top: 95px;

        li{

            a{
                // text-decoration: none;
                color: rgb(0,0,0);

                &:hover{
                    color: $pink;
                }
            }
        }
    }
}

// ************************* section five *******************************
.container_sex{
    margin-top: 50px;
    width: 100%;
}

.social_iconCotainerList{
    width: 98%;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    box-shadow: $boxShadow;
    text-align: center;
    padding: 25px 0;

    h1{
        font-size: 1.50rem;
        font-weight: bold;
        color: #742874;
        margin: 10px 0;
    }

    img{
        width: 30%;
    }

    ul{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            list-style: none;
            margin: 25px 10px;

            a{
                text-decoration: none;
                color: rgb(0,0,0);
                font-weight: bold;
            }
        }
    }

    h2{
        font-size: 1rem;
        margin: 10px 0;
        color: #742874;
        font-weight: bold;
    }

    a{
        font-size: 1rem;
        text-decoration: none;
        color: rgb(0,0,0);
        font-weight: bold;
    }

    .social_icon{
        width: 100%;

        .fa-facebook{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: #3b5998;
            font-size: 1rem;
            color: rgb(255,255,255);
            line-height: 35px;
        }

        .fa-twitter{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: #55acee;
            font-size: 1rem;
            color: rgb(255,255,255);
            line-height: 35px;
        }

        .fa-instagram{
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background:radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
            font-size: 1rem;
            color: rgb(255,255,255);
            line-height: 35px;
        }
    }
}

// end rotate 
.rotate{
    width: 100%;
    position: relative;

    h1{
        position: fixed;
        top: 50%;
        left: -5%;
        z-index: 2;
        transform: rotate(-270deg);
        background-color: #843A75;
        font-size: 1.30rem;
        color: rgb(255,255,255);
        padding: 10px;
        text-align: center;
    }
}

.fixedIcon{
    position: fixed;
    top: 40%;
    right: -0.5%;
    float: right;
    z-index: 2;
    display: grid;

    i{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #843A75;
        color: rgb(255,255,255);
        font-size: 1rem;
        line-height: 50px;
        text-align: center;
        margin: 10px;
    }
}


    .iconList{
        position: relative;
        display: none;

        i{
            position: fixed;
            right: 0;
            bottom: 85px;
            width: 35px;
            height: 35px;
            background-color: #843A75;
            border-radius: 5px;
            line-height: 35px;
            text-align: center;
            color: rgb(255,255,255);
            z-index: 2;
        }
    }

.call_now_link{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #843A75;
    background-color: rgb(255,255,255);
    z-index: 2;
    display: none;

    p{
        font-size: 14px;
        padding: 0 10px;
    }

    .call_icon{
         margin-top: -15px;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;

        a{
            color: #843A75;
            text-decoration: none;
        }

        button{
            padding: 10px 30px;
            border: none;
            outline: none;
            background:linear-gradient(to right,#2e1c27,#692B69);
            color: rgb(255,255,255);
            border-radius: 5px;

            a{
                text-decoration: none;
                color: rgb(255,255,255);
            }
        }
    }
}

// pop 
.pop{
    width: 100%;
    position: relative;
}

.pop_text{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    margin: 0 auto;
    z-index: 9999;

    .iconTimes{
        float: right;
        clear: both;
        position: relative;
        cursor: pointer;
        z-index: 9999999;

        i{
            width: 25px;
            height: 25px;
            background-color: rgb(255,255,255);
            position: relative;
            top: 45px;
            right: 35px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
        }
    }

    img{
        width: 100%;
        height: 450px;
    }
}

.customer_care_text{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99999;

    img{
        width: 85px;
        height: 85px;
        border: 2px solid rgb(255,255,255);
        border-radius: 100%;
    }

    h1{
        margin: 350px 0 25px 0;
        font-weight: bold;
        font-size: 1.50rem;
        color: $white;
    }

    a{
        font-size: 1.30rem;
        text-decoration: none;
        font-weight: bold;
        color: $white;

        i{
            font-size: 1.20rem;
            font-weight: bold;
            color: $white;
        }
    }

    h2{
        margin: 25px 0;
        font-size: 1.30rem;
        font-weight: bold;
    }

    p{
        font-size: 1rem;
        font-weight: bold;
        color: #ff0066;
    }

    .popText{
        color: rgb(255,255,255);
    }
}